<canvas id="graph"></canvas>
<div class="menu" style="z-index: 9999;">
  <a href="/">
    <div class="mybutton menu1">
      <%= image_tag "menu1-inactive.png" %>
    </div>
  </a>
  <a href="/my-tamaya">
    <div class="mybutton menu2">
      <%= image_tag "menu2-active.png" %>
    </div>
  </a>
  <a href="/graph">
    <div class="mybutton menu3">
      <%= image_tag "menu3-inactive.png" %>
    </div>
  </a>
</div> 
<script src="/assets/javascript/Chart.js"></script>
    <script>
        var clicks = new Array();
        var per5min = new Array();
	var min5 = 0;
        var min5clicks = 0;
        var l = 0;
        <% for i in 8221912..8221959 do %>
            var j = Number(<%= @clicks[i] %>);
               clicks.push(j);  
        <% end%>
        <% for h in 8222000..8222059 do %>
            var g = Number(<%= @clicks[h] %>);
               clicks.push(g);
        <% end%>
	var k = 0;
        <% for k in 0 .. 80 do %>
        k = k + 1;
        <% end %>
        <% for l in 1 .. 18 do %>
	    <% for min5 in 0 .. 4 %>
                min5clicks = min5clicks + clicks[l*5 + min5];
		min5 = min5 + 1;
	    <% end %>
	    console.log(min5clicks);
	    l = l + 1;
	    per5min.push(min5clicks);
	    min5 = 0;
	    min5clicks = 0;
	<% end%>
	var m = 0;
        <% for m in 1 .. 16 do %>
	console.log(per5min[m]);
	m = m + 1;
        <% end %>
        var data = {
            labels: ["19:00", "05", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "20:00", "05", "10", "15"],
            datasets: [

                {
                    label: "My Second dataset",
                    fillColor: "rgba(0,0,0,0)",
                    strokeColor: "rgba(216,173,103,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [per5min[0], per5min[1], per5min[2], per5min[3], per5min[4], per5min[5], per5min[6], per5min[7], per5min[8], per5min[9], per5min[10], per5min[11], per5min[12], per5min[13], per5min[14], per5min[15]]
          }
      ]
        };
        var option = {
            scaleOverride: false
        };
        var ctx = document.getElementById("graph").getContext("2d");
        new Chart(ctx).Line(data, option);
    </script>
