<div class="nav"><p><%= @name %></p></div>

<%= image_tag "tamaya_button.png", class: "tamaya-button" %>

<div class="time-graph">
  <div class="line"></div>
  <%= time_graph %>
  <div class="time start" data-unix="<%= @start_unix %>"><%= @start_time %></div>
  <div class="time end" data-unix="<%= @end_unix %>"><%= @end_time %></div>
</div>

<div class="counter"><span class="number"><%= @count %></span> <span class="very-small">SHOTS</span></div>


<% for i in 1..12 %>
<audio id="tamaya<%= i %>" preload="auto">
  <source src="audio/tamaya<%= i %>.mp3" type="audio/mp3">
</audio>
<% end %>
