<div class="popup close-popup" style="background: #000; z-index: 9999999999;">
  <%= image_tag "howto_title.png", class: "howto_title_img" %>
  <section class="howto_00">
    <div class="left_box">
      <h2 class="howto_title">タップ！</h2>
      <p class="howto">これは残したい！
      <br>と思った瞬間に、
      <br>たまやボタンをタップ！</p>
    </div>
    <div class="right_box">
      <%= image_tag "tamaya_img.png", class: "right" %>
    </div>
  </section>
  <section class="howto_01">
    <div class="left_box">
      <%= image_tag "hanabi_dis.png", class: "left" %>
    </div>
    <div class="right_box">
      <h2 class="howto_title">写真をお届け</h2>
      <p class="howto">大会終了後に、
      <br>その瞬間の花火を
      <br>お届けします。</p>
    </div>
  </section>
</div>

<div class="nav"><p><%= @name %></p></div>
<%= image_tag "question.png", class: "question open-popup" %>

<%= image_tag "tamaya_button.png", class: "tamaya-button" %>

<div class="time-graph">
  <div class="line"></div>
  <%= time_graph %>
  <div class="time start" data-unix="<%= @start_unix %>"><%= @start_time %></div>
  <div class="time end" data-unix="<%= @end_unix %>"><%= @end_time %></div>
</div>
<div class="message-container">
  <p class="message">写真の受け取りは20:30〜</p>
</div>

<div class="counter"><span class="number"><%= @count %></span> <span class="very-small">SHOTS</span></div>


<% for i in 1..12 %>
<audio id="tamaya<%= i %>" preload="auto">
  <source src="audio/tamaya<%= i %>.mp3" type="audio/mp3">
</audio>
<% end %>
