<div class="popup">
  <div class="close-popup">×</div>
  <div class="big-image">
    <a href="" class="download-button" download="tamaya"><img></a>
  </div>
  <div class="small-image">
    <img data-camera="1">
  </div>
  <div class="small-image">
    <img data-camera="2">
  </div>
  <div class="small-image">
    <img data-camera="3">
  </div>
  <div class="small-image">
    <img data-camera="4">
  </div>
</div>

<div class="views">
  <div class="view view-main">
    <div class="page-content">
      <div class="content-block">


        <div class="nav">
          <p><%= @name %></p>
        </div>

        <div class="container"> 
          <%= tamaya %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="menu" style="z-index: 9999;">
  <a href="/">
    <div class="mybutton menu1">
      <%= image_tag "menu1-inactive.png" %>
    </div>
  </a>
  <a href="/my-tamaya">
    <div class="mybutton menu2">
      <%= image_tag "menu2-active.png" %>
    </div>
  </a>
  <a href="/graph">
    <div class="mybutton menu3">
      <%= image_tag "menu3-inactive.png" %>
    </div>
  </a>
</div>

