<div id="wrapper">
  <main>
  <header>
    <h1><%= image_tag "logo.png", class: "logo", alt: "たまやボタン" %></h1>
  </header>
  <div class="bg">
    <%= image_tag "ff_red.png", class: "bgff_01" %>
    <%= image_tag "ff_blue.png", class: "bgff_02" %>
    <%= image_tag "ff_green.png", class: "bgff_03" %>
    <%= image_tag "ff_pink.png", class: "bgff_04" %>
    <%= image_tag "ff_red.png", class: "bgff_05" %>
    <%= image_tag "ff_blue.png", class: "bgff_06" %>
    <%= image_tag "ff_green.png", class: "bgff_07" %>
    <%= image_tag "ff_pink.png", class: "bgff_08" %>
    <%= image_tag "ff_red.png", class: "bgff_09" %>
    <%= image_tag "ff_blue.png", class: "bgff_10" %>
    <%= image_tag "ff_green.png", class: "bgff_11" %>
  </div>
  <section class="top">
    <h2 class="desc">目で見た花火が、スマホに届く。<br>たまやボタン</h2>
    <div id="sns">
<a href="https://twitter.com/share" class="twitter-share-button" data-text="目で観た花火が、スマホに届く。たまやボタン。8/22（土）相模原納涼花火大会にてオープン！">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<span id="line">
<script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
<script type="text/javascript">
new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a","text":"目で観た花火が、スマホに届く。たまやボタン。8/22（土）相模原納涼花火大会にてオープン！","withUrl":true});
</script>
</span>
<div class="fb-share-button" data-href="http://tamayabutton.com" data-layout="button"></div>
</div>
    <h3 class="open">8/22(土)<br>相模原納涼花火大会にて<br><span class="eng">OPEN!</span></h3>
    <div class="sns_link">
        <p><a href="https://www.facebook.com/tamayabutton" class="facebook" target="_blank">facebookページはこちら</a>
    </div>
    <span id="pc_alert">※たまやボタンの使用はスマートフォンのみ可能です。</span>
    <%= image_tag "btn_01_gray.png", class: "btn01", alt: "たまやボタンを使う" %>
    <p class="alert">※8/22(土) 18:30にオープンします</p>
    <%= image_tag "btn_02_gray.png", class: "btn01", alt: "写真を受け取る" %>
    <p class="alert">※8/22(土) 20:20にオープンします</p>
    <%= image_tag "btn_03_gray.png", class: "btn01", alt: "盛り上がりグラフを見る" %>
    <p class="alert">※8/22(土) 20:20にオープンします</p>
    <%= image_tag "ff_pink.png", class: "ff" %>
    <div class="menu_btn"><%= image_tag "about_btn.png", id: "menu_01", alt: "たまやボタンとは" %>
    </div>
  </section>
  <section class="about">
    <%= image_tag "copy.png", class: "copy" %>
    <p class="copy_desc">日本には、二度と出会えない
    <br>一瞬の美しさがあります。</p>
    <p class="copy_desc">上がっては消えてゆく、夏の風物詩「花火」。
    <br>しかし、スマホ全盛時代の今、
    <br>写真を撮るのに夢中のあまり、
    <br>大事な瞬間をスマホ越しに
    <br>観てしまう人も少なくありません</p>
    <p class="copy_desc">「たまやボタン」は、スマホをかざさなくても、
    <br>あなたの代わりにあなたが撮りたい瞬間を記録する、
    <br>新しい形の花火鑑賞サービスです。</p>
    <p class="copy_desc">目で観た花火が、スマホに届く。
    <br>たまやボタン</p>
    <%= image_tag "howto_title.png", class: "howto_title_img" %>
    <section class="howto_00">
      <div class="left_box">
        <h2 class="howto_title">タップ！</h2>
        <p class="howto">これは残したい！
           <br>と思った瞬間に、
           <br>たまやボタンをタップ！</p>
      </div>
      <div class="right_box">
         <%= image_tag "tamaya_img.png", class: "right" %>
      </div>
                </section>
    <section class="howto_01">
      <div class="left_box">
        <%= image_tag "hanabi_dis.png", class: "left" %>
      </div>
      <div class="right_box">
        <h2 class="howto_title">写真をお届け</h2>
        <p class="howto">大会終了後に、
        <br>その瞬間の花火を
        <br>お届けします。</p>
      </div>
    </section>
    <section class="howto_02">
      <h2 class="howto_title">撮影スポット</h2>
      <p class="howto">花火は4ヶ所の素敵なスポットから撮影します。</p>
      <%= image_tag "spot.png", class: "spot_desc" %>
    </section>
    <section class="howto_03">
      <div class="left_box">
        <%= image_tag "graph_ui.png", class: "left" %>
      </div>
      <div class="right_box">
        <h2 class="howto_title">盛り上がり<br>グラフ</h2>
        <p class="howto">さらに、ボタンが
        <br>押された回数を
        <br>グラフ化し、
        <br>盛り上がった
        <br>タイミングを見える化。</p>
      </div>
    </section>
  </div>
</section>
<div class="menu_btn"><%= image_tag "usable_btn.png", id: "menu_02",  alt: "利用できる花火大会" %>
</div>
<section class="usable">
  <h1>第44会相模原納涼花火大会</h1>
  <div class="desc_use">
    <h2 class="type">日時：</h2>
    <p class="type_con">8/22(土) 19:00~20:15</p>
    <p class="alert">※サービスオープンは18:30〜となります</p>
  </div>
  <div class="desc_use">
    <h2 class="type">会場：</h2>
    <p class="type_con end">相模原市中央区水郷田名 相模川高田橋上流</p>
    <a href="https://www.google.com/maps?ll=35.541147,139.325755&z=16&t=m&hl=ja&gl=US&mapclient=embed&q=35%C2%B032%2735.1%22N+139%C2%B019%2737.3%22E@35.543076,139.3270316" target="_blank"><%= image_tag "btn_04.png", class:"btn02" %>
    </a>
  </div>
  <div class="desc_use">
    <h2 class="type">撮影スポット：</h2>
    <%= image_tag "map.png", class: "map" %>
    <p class="type_con"><span class="spot">A:川</span><span class="spot">B:有料観覧席</span>
    </p>
    <p class="type_con"><span class="spot">C:アメニティタワー</span><span class="spot">D:駐車場</span>
    </p>
  </div>
  <div class="desc_use">
    <h2 class="type">公式WEBサイト:</h2>
    <p class="type_con"><a href="http://www.sagamihara-hanabi.jp/" target="_blank"  class="link">http://www.sagamihara-hanabi.jp/</a>
    </p>
  </div>
</section>
<section class="extra">
  <p class="link"><a href="/tamayabutton_news.pdf" target="_blank">プレスリリースはこちら</a>
  </p>
  <p class="link">メディアのお問い合わせはこちら
  <br>
    <a href="mailto:tamayabutton@gmail.com">tamayabutton@gmail.com</a>
  </p>
</section>
</main>
<footer>
  <div id="sns">
<a href="https://twitter.com/share" class="twitter-share-button" data-text="目で観た花火>が、スマホに届く。たまやボタン。8/22（土）相模原納涼花火大会にてオープン！">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<span id="line">
<script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
<script type="text/javascript">
new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a","text":"目で観た花火が、>スマホに届く。たまやボタン。8/22（土）相模原納涼花火大会にてオープン！","withUrl":true});
</script>
</span>
<div class="fb-share-button" data-href="http://tamayabutton.com" data-layout="button"></div>
</div>
  <p>&copy;tamayabutton.com</p>
</footer>
</div>
