<!DOCTYPE html>
<html>
<head>
  <title>たまやボタン</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="style/fireworks.css" media="screen" />
  <script src="script/soundmanager2-nodebug-jsmin.js"></script>
  <script src="script/fireworks.js"></script>
  <script src="script/Charts.js"></script>
  <%= favicon_link_tag 'icon.png' %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48829118-4', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<div id="fireworks-template">
   <div id="fw" class="firework"></div>
   <div id="fp" class="fireworkParticle"><img src="image/particles.gif" alt="" /></div>
 </div>

 <div id="fireContainer"></div>

<%= yield %>
<script src="/my-app.js"></script>

</body>
</html>
